0427/0427_HelloWorld/0427_HelloWorld.sln
0427/0427_HelloWorld/.vs/0427_HelloWorld/FileContentIndex/f02cbd20-8ff7-4ba8-a9b3-26845474b602.vsidx
0427/0427_HelloWorld/.vs/0427_HelloWorld/FileContentIndex/read.lock
0427/0427_HelloWorld/.vs/0427_HelloWorld/v17/.suo
0427/0427_HelloWorld/.vs/0427_HelloWorld/v17/Browse.VC.db
0427/0427_HelloWorld/.vs/0427_HelloWorld/v17/ipch/AutoPCH/43c5f47db60ea36a/MAIN.ipch
0427/0427_HelloWorld/0427_HelloWorld/0427_HelloWorld.vcxproj
0427/0427_HelloWorld/0427_HelloWorld/0427_HelloWorld.vcxproj.filters
0427/0427_HelloWorld/0427_HelloWorld/0427_HelloWorld.vcxproj.user
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.exe.recipe
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.ilk
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.log
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/main.obj
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/vc143.idb
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/vc143.pdb
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/0427_HelloWorld.lastbuildstate
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/CL.command.1.tlog
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/CL.read.1.tlog
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/CL.write.1.tlog
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/link.command.1.tlog
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/link.read.1.tlog
0427/0427_HelloWorld/0427_HelloWorld/x64/Debug/0427_HelloWorld.tlog/link.write.1.tlog
0427/0427_HelloWorld/x64/Debug/0427_HelloWorld.exe
0427/0427_HelloWorld/x64/Debug/0427_HelloWorld.pdb
